<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wmssync" translate="label" sortOrder="100">
            <label>WMS</label>
        </tab>
        <section id="wmssync" translate="label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20">
            <label>Sync</label>
            <tab>wmssync</tab>
            <resource>Ctasca_WmsSync::wms_config</resource>
            <group id="settings" translate="label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10">
                <label>Settings</label>
                <field id="enable_logging" translate="label comment" type="select" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable\Disable logging. Logs are written to <code>'/var/log/wms-sync.log'</code>. Default value is <strong>Yes</strong>.]]></comment>
                </field>
                <field id="sync_endpoint" translate="label comment" type="text" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>WMS Sync Endpoint</label>
                    <comment>WMS API Sync endpoint. Note: must end with forward-slash</comment>
                </field>
            </group>
        </section>
    </system>
</config>
