<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wmssync>
            <settings>
                <enable_logging>1</enable_logging>
                <sync_endpoint><![CDATA[https://syncwms.proxy.beeceptor.com/wms/get/quantity/]]></sync_endpoint>
                <sync_product_types>simple</sync_product_types>
            </settings>
        </wmssync>
    </default>
</config>
